@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lora&family=Playfair+Display:wght@600&display=swap");

.News {
  width: 100%;
  height: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.PrimaryNews {
  width: 66%;
  height: 45%;
  display: flex;
  cursor: default;
}
.PrimaryNewsImage {
  width: 50%;
  height: 100%;
  background-image: url("https://e-mba.ru/uploads/knowledge_covers/f2e96b2e-cd68-46f5-a443-cbeb683a388e/publ-vyst-20-art-01.jpg");
  background-position: center center;
  background-size: cover;
}
.PrimaryNewsText {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.PrimaryNewsTextHeader {
  width: 80%;
  height: 25%;
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  color: #222831;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.PrimaryNewsTextContent {
  width: 80%;
  height: 25%;
  color: #9a9a9a;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
}
.PrimaryNewsTextAuthor {
  padding-top: 20px;
  width: 80%;
  height: 25%;
  display: flex;
  flex-direction: row;
}
.PrimaryNewsTextAuthorImg {
  width: 30%;
  height: 100%;
  background-image: url("https://st.depositphotos.com/1008939/3281/i/600/depositphotos_32817757-stock-photo-smiling-man.jpg");
  background-position: center center;
  background-size: cover;
  border-radius: 50px;
}
.PrimaryNewsTextAuthorName {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.Name {
  margin-left: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #10375c;
  cursor: pointer;
}
.Work {
  margin-left: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #9a9a9a;
}

.News1 {
  width: 32%;
  height: 45%;
}
.News1Image {
  width: 100%;
  height: 65%;
  background-image: url("https://promo.softline.ru/themes/promo/assets/workspaceone/img/workspace-photo-4.jpg");
  background-position: center center;
  background-size: cover;
}
.News2 {
  width: 32%;
  height: 45%;
}
.News2Image {
  width: 100%;
  height: 65%;
  background-image: url("https://st4.depositphotos.com/3805597/i/600/depositphotos_199381166-stock-photo-a-young-man-is-sitting.jpg");
  background-position: center center;
  background-size: cover;
}
.News3 {
  width: 32%;
  height: 45%;
}
.News3Image {
  width: 100%;
  height: 65%;
  background-image: url("https://static.ngs.ru/news/2017/preview/d171eddbf5ef0b31d508214c8f01191f0219c523_599_399_c.jpg");
  background-position: center center;
  background-size: cover;
}
.News4 {
  width: 32%;
  height: 45%;
}
.News4Image {
  width: 100%;
  height: 65%;
  background-image: url("https://st.depositphotos.com/1008438/1896/i/600/depositphotos_18969841-stock-photo-modern-office-interior.jpg");
  background-position: center center;
  background-size: cover;
}
.NewsContent {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.NewsContentHeader {
  width: 81%;
  height: 60%;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #222831;
  display: flex;
  align-items: center;
  text-align: left;
  cursor: pointer;
}
.NewsContentAuthor {
  width: 81%;
  height: 40%;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #9a9a9a;
  display: flex;
  cursor: default;
}
