@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lora&family=Playfair+Display:wght@600&display=swap");

.RightSide {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: default;
}
.RightSideTitle {
  width: 100%;
  height: 40%;
}
.SmallTitle {
  width: 60%;
  height: 15%;
  display: flex;
  align-items: center;
  margin-left: 80px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #222831;
}
.SmallTitleRectangle {
  width: 73px;
  height: 2px;
  background-color: #222831;
  margin-left: 20px;
}
.LargeTitle {
  width: 70%;
  height: 50%;
  margin-left: 80px;
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  color: #10375c;
}
.NavElements {
  width: 20%;
  height: 10%;
  margin-left: 80px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.RightSideImages {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.RightSideImage1 {
  width: 45%;
  height: 100%;
  background-image: url("https://student.itmo.ru/admin/uploads/ckeditor/Студенческий%20офис/офис%202.png");
  background-size: cover;
  background-position: center center;
  margin-left: 40px;
}
.RightSideImage2 {
  width: 40%;
  height: 100%;
  background-image: url("https://www.advanta-group.ru/uploads/images/blog/team%20ПО.png");
  background-size: cover;
  background-position: center center;
}
