@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lora&family=Playfair+Display:wght@600&display=swap');

.Header {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    cursor: default;
}
.Title {
    width: 50%;
    height: 100%;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    color: #10375C;
    text-align: center;
}