.LeftSIde {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.SideImage {
    width: 35%;
    height: 60%;
    background-image: url("https://s3-alpha-sig.figma.com/img/cefa/82a8/594c8b52f939d991b612fbfa85957e94?Expires=1652054400&Signature=HSR7y-83L1Diy4DjZXFJDwhzWrz7npGIB1fSzxQPDQF06Nt15q-kWYpze1Xxd5ioTXYoXGBuSxMNJBL7JfvcwDk~inZtWzPS3-LVdYbR1iFuLL0mijs8CNEcCE84rAHKtSYEPQOTsUAxozJzKWn-zOoaKTocp7V5aGIoHKmGQFtSQtO9yW2IfochfFnAdeRX0hmsOu8nxhGGGNzcbu7zRn~cwv8Pk8LJujPQhrr8tFYSV9UNAQ~awZG35cxD1rJ3wSlbLk3b6nipqbPENdFdKggraLku277AAsAJhDJMaI-QeyCeTNdpCZsAmm91BrsBIoh004YHjJ-FlTpZ5YfAbg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size:cover;
    background-position: right center;
}
.MainImage {
    width: 60%;
    height: 100%;
    background-image: url("https://s3-alpha-sig.figma.com/img/5cc8/7b29/c1cc015a372ea32ea4904e460ed8573d?Expires=1652054400&Signature=P-htpmxozKJ2ZTjSTnllGG3CUOFNUFWc5ExrtWsseanwvDh5WgFt9jQ4IJyB2AWZI8knvYtzoGBVBOsdeB1JbHAp-SGszSboiWhiaPg6eTU3e2-irR-HtJaI2qLYmfizamBQSH~SA-rQ946WpXlgcWyeeb8ZD2euBLKpXBObHjTH7hdyB3hKCm67bCLblsKSE1d8z4SnY4pRp67yUKNWvmvg56my5pknQSCF6vbnNJ1h8EFKjjjoak9Cyje-qT20GUahH5MgRBJb~hBfA1rBoFo0F3YPtzqUDYaq2uN5--EGwWg-vLEN1EnxW5EBKh-nLt8sSrmCcYdgheAaxGoxrA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size:cover;
    background-position: center center;
}