@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lora&family=Playfair+Display:wght@600&display=swap");

.Content {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
}
.ContentList {
  width: 30%;
  height: 60%;
  margin-top: 30px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.ContentListElement {
  width: 80%;
  height: 20%;
  padding-left: 25px;
  display: flex;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #222831;
}
.ContentListElement:hover {
  cursor: pointer;
  background-color: #ff5722;
  color: #ffffff;
}
.ContentImage {
  width: 60%;
  height: 80%;
  margin-top: 30px;
  background-image: url("https://s0.rbk.ru/v6_top_pics/media/img/9/16/754678171582169.jpeg");
  background-size: cover;
}
