.ImageSlider {
    width: 100%;
    height: 90%;
    margin-top: 40px;
    background-image: url("https://s3-alpha-sig.figma.com/img/f2d2/d6b8/a962f09b949d4869e6ff9975adf28664?Expires=1652054400&Signature=FCWVwPcpzXc0CFwGQzbJY6rR11zU~1ASaIP8nLn~jUsQ0eLNVfHPaD1~T-R1shvCahQWwEJfwixYtJb66Hh6lYoIkBdMAZN77LR3GjP8d6emhj~dj1wKiisBAn8~LmKwUPIxTXX2apxQOVeYinf0aub-hXcspd9efOR4T1MILQi7D1XT6eb2UFT16n561N7NSpBizOt4xnvnm~YS2QjvRqZDTb69d0QAiCoQUTzkLnsxR9pNDuq8zOQlaq~QUFNMGZk6~5EgJiYA1~fN-Opd3yMPkJbZctd5Hv7Apm4JY2-WESJFzc-8mLtQc4zDg1xYsH6Z-14JphacehjP-bBIYA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size:cover;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content:center;
    padding-bottom: 20px;
}
.BigRectangle {
    width: 40px;
    height: 4px;
    background-color: #FF5722;
}
.SmallRectangle {
    margin-left: 7px;
    width: 16px;
    height: 4px;
    background-color: #FFFFFF;
}